<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About </title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <script src="{% static 'Scripts/Navbar.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/About.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e1eebc; height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
  
          <a href="{% url 'home' %}" class="nav-link">
            <img src="{% static 'Logos/GoM-Horizontal-Logo.png' %}" class="img-fluid rounded-start" alt="..." style="height: 90px; width: auto;">
          </a>
      
          <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
         
            <form id="searchForm" class="d-flex mx-2 search-form" style=" width: 330px; display: none;">
                <input class="form-control me-1" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-info" type="submit" style="background-color: #90c67c; border:none;">
                    <i class="fas fa-search"></i>
                </button>
              </form>
              
            <button id="searchToggle" class="btn nav-link mx-2">
              <img src="{% static 'Logos/Search.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </button>
      
            <a href="{% url 'about' %}" class="nav-link mx-2">
              <img src="{% static 'Logos/About-Us.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="{% url 'products' %}" class="nav-link mx-2">
              <img src="{% static 'Logos/Products.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="{% url 'contact' %}" class="nav-link mx-2">
              <img src="{% static 'Logos/Contacts.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/Account.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/Shopping-Cart.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
          </div>
        </div>
      </nav>

      <div class="navbar-border"></div>

    <div id="background-img"> </div>
    <div class="about-container"> 

        <div class="about" id="about-text"> ABOUT US </div>
        <p class="about"> Garden of Melon is a cozy haven for plant lovers, offering a curated selection of lush greenery, stylish pots, and plant 
            care essentials to bring life and calm into every home. Whether you're a seasoned plant parent or just starting your indoor 
            garden journey, we are here to help you grow with confidence. From tiny succulents to towering indoor trees, we believe every plant 
            has a story — and we are here to help you tell yours. </p>

        <div class="about" id="birth-text"> OUR STORY </div>
        <div class="card mb-3" style="max-width: 1140px;">
            <div class="row g-0">
                <div class="col-md-5">
                <img src="{% static 'Images/PotPlants.jpg' %}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <p class="card-text">It all began in 2019, in a tiny apartment with a single potted monstera and too much sunlight. 
                            Melon, a college student stressed from school, started collecting plants as a way to unwind. What was meant to be 
                            just one or two quickly turned into a full-blown indoor jungle. With every leaf that unfurled, the idea grew: what if this love for greenery could be shared with more people? 
                            By 2021, Melon turned her hobby into a small online shop: selling propagated plants, pot kits, and handwritten care notes. It 
                            is a story of growth, rooted in self-care, community, and the belief that even the smallest seed can grow into something beautiful. 
                            As more plant lovers joined the journey, Garden of Melon began to blossom into something bigger.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 1140px; margin-top: 15px;">
            <div class="row g-0">
                <div class="col-md-7">
                    <div class="card-body h-100">
                        <p class="card-text"> In 2023, Melon opened her first physical store: a sun-drenched nook filled with gentle 
                            music, leafy shadows, and the same comforting vibe that started it all. The shop became more than 
                            a store — it became a sanctuary. A space for learning, healing, and remembering that growth takes time.
                            Now, Garden of Melon continues to thrive with a passionate team, a growing family of customers, and 
                            a mission to bring the joy of plants into every home. What started as a quiet escape became a blooming
                            movement, proving that the most beautiful things can sprout from the most unexpected places. Every pot, 
                            sprout, and leaf tells a story, and Garden of Melon is here to help grow yours.
                        </p>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <img src="{% static 'Images/SnakePlant.jpg' %}" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>

        <div class="about" id="birth-text"> PURPOSE </div>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="mv-icon-container"> <img src="{% static 'Images/Mission.png' %}" class="mv-icon-1"> </div>
                <div class="card-body">
                  <h5 class="card-title"> Mission </h5>
                  <p class="card-text" style="text-align: center;"> To nurture joy, mindfulness, and inner calm by bringing nature into everyday spaces. 
                    Each plant is a gentle reminder to slow down, breathe deeply, and find beauty in growth no matter how small. 
                    Through thoughtful curation and care, the goal is to inspire a deeper connection with the natural world, right 
                    from the comfort of home. Let every leaf and stem serve as a quiet companion on the journey towards well-being.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="mv-icon-container"> <img src="{% static 'Images/Vision.png' %}" class="mv-icon-2"> </div>
                <div class="card-body">
                  <h5 class="card-title"> Vision </h5>
                  <p class="card-text" style="text-align: center;" >A world where every corner blooms with life and intention. A 
                    future shaped by sustainable living, creative expression, and meaningful connections, all rooted in the quiet magic 
                    of plants. Spaces transformed not just aesthetically, but emotionally, infused with calm, color, and a sense of 
                    purpose. The vision for greenery to become not just a decor, but a lifestyle of compassion, curiosity, and 
                    continuous growth.</p>
                </div>
              </div>
            </div>
        </div>

        <div class="about" id="awp-text"> AWARD-WINNING PLANTS </div>
        <div class="awp-container">
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant1.webp' %}">
                </div>
                <div class="content-box">
                    <h4> 1. Calathea </h4>
                    <p> A group of tropical plants known for their stunning, patterned leaves that often have a purplish underside. 
                        Nicknamed the <i>Prayer Plant</i> because many species close their leaves at night, like they're praying. 
                        They're a bit fussy but totally worth it for looks.</p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant2.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 2. Peace Lily </h4>
                    <p> Also known as <i>Spathiphyllum</i>, a graceful houseplant known for its dark green leaves and elegant white, 
                        sail-like flowers. It’s not a true lily but is prized for its beauty and air-purifying abilities. 
                        Peace Lilies also symbolize peace and healing. </p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant3.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 3. African Violet </h4>
                    <p> Also known as <i>Saintpaulia</i>, a compact flowering plant with fuzzy, dark green leaves and clusters of small, 
                        colorful blooms (purple, pink, white, etc.). They’re popular for their long blooming period and are easy 
                        to grow on windowsills. </p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant4.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 4. Monstera Deliciosa </h4>
                    <p> Also known as the <i>Swiss Cheese Plant</i>, it's a tropical vine native to Central America, famous for its large,
                        glossy green leaves with natural holes or slits. It's fast-growing and gives off major jungle vibes, making 
                        it a favorite statement plant.</p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant5.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 5. Bird of Paradise </h4>
                    <p> It is a striking tropical plant native to South Africa, known for its large, banana-like leaves and 
                        extraordinary flowers that resemble the shape of a colorful bird in flight. The vibrant orange and 
                        blue blooms make it a show-stopper. </p>
                        <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
        </div>

        <div class="about" id="ad-text"> ADVERTISEMENTS </div>
        <div class="ad-video-container"> 
            <video autoplay muted loop id="vid1">
                <source src="{% static 'Videos/AD1.mp4' %}" type="video/mp4">
            </video>
            <video autoplay muted loop id="vid2">
                <source src="{% static 'Videos/AD2.mp4' %}" type="video/mp4">
            </video>
            <video autoplay muted loop id="vid3">
                <source src="{% static 'Videos/AD3.mp4' %}" type="video/mp4">
            </video>
        </div>

        <div class="about" id="team-text"> MEET THE TEAM </div>
        <div class="row-container">
            <div class="team-card-container">
                <div class="team-card">
                    <div class="front">
                        <img src="{% static 'Images/Ryzzah.png' %}" class="team-card-images">
                    </div>
                    <div class="back">
                        <span class="team-card-text role"> OPERATIONS </span>
                        <span class="team-card-text"> Ryzzah Mae Arenas </span>
                    </div>
                </div>
            </div>
            <div class="team-card-container">
                <div class="team-card">
                    <div class="front">
                        <img src="{% static 'Images/Lance.png' %}" class="team-card-images">
                    </div>
                    <div class="back">
                        <span class="team-card-text role"> OPERATIONS DIRECTOR </span>
                        <span class="team-card-text"> Lance Kerwin Regala </span>
                    </div>
                </div>
            </div>
            <div class="team-card-container">
                <div class="team-card">
                    <div class="front">
                        <img src="{% static 'Images/Loisse.png' %}" class="team-card-images">
                    </div>
                    <div class="back">
                        <span class="team-card-text role"> FOUNDER </span>
                        <span class="team-card-text"> Loisse Melon </span>
                    </div>
                </div>
            </div>
            <div class="team-card-container">
                <div class="team-card">
                    <div class="front">
                        <img src="{% static 'Images/Shaira.png' %}" class="team-card-images">
                    </div>
                    <div class="back">
                        
                        <span class="team-card-text role"> LOGISTICS </span>
                        <span class="team-card-text"> Shaira Satinitigan </span>
                    </div>
                </div>
            </div>
            <div class="team-card-container">
                <div class="team-card">
                    <div class="front">
                        <img src="{% static 'Images/Louis.png' %}" class="team-card-images">
                    </div>
                    <div class="back">
                        <span class="team-card-text role"> PLANT CONSULTANT </span>
                        <span class="team-card-text"> Louis Ruemyr Carballo </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-text-container"></div>
    </div>
</body>
</html>