<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    {% include 'head.html' %}
	<link rel="stylesheet" type="text/css" href="{% static 'Styles/Cart.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<script type="text/javascript"> 
        var user = '{{request.user}}'
        function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
          // Split cookie string and get all individual name=value pairs in an array
          var cookieArr = document.cookie.split(";");

          // Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++) {
              var cookiePair = cookieArr[i].split("=");

              /* Removing whitespace at the beginning of the cookie name
              and compare it with the given string */
              if(name == cookiePair[0].trim()) {
                  return decodeURIComponent(cookiePair[1]);
              }
          }
          return null;
		}
		var cart = JSON.parse(getCookie('cart'))
		if (cart == undefined) {
			cart = {}
			console.log('Cart was created!')
			document.cookie = 'cart=' + JSON.stringify(cart) + ';path=/'
		}
    </script>
</head>
<body>
	{% include 'navbar.html' %}

	<div class="cart-page">
		{% if items %}
		<div class="box-element left-ctnr">
			<div class="main-cart-text"> <i class="fa fa-shopping-cart fs-1" style="color: #871313; margin-right: 10px;"></i> 
			 Shopping Cart </div>
			<div class="cart-row" style="margin-bottom: 20px;">
				<div style="flex:0.9"><strong>Image</strong></div>
				<div style="flex:1.25"><strong>Item Name</strong></div>
				<div style="flex:0.9"><strong>Price</strong></div>
				<div style="flex:1"><strong>Quantity</strong></div>
				<div style="flex:1.1"><strong>Subtotal</strong></div>
				<div style="flex:0.25;"><p> </p></div>
			</div>
			{% for item in items %}
			<div class="product-row">
				<div style="flex:0.9"><img class="row-image" src="{{item.product.imageURL}}"></div>
				<div style="flex:1.25;" class="item-product-name-div"><p>{{ item.product.name }}</p></div>
				<div style="flex:0.9"><p>₱{{ item.product.price | floatformat:2 }}</p></div>
				<div style="flex:1" class="quantity-arrow-wrapper">
					<img data-product="{{item.product.id}}" data-action="remove" class="update-cart chg-quantity"
						src="{% static 'images/arrow-left.png' %}">
					<div class="item-quantity"> {{ item.quantity }} </div>
					<img data-product="{{item.product.id}}" data-action="add" class="update-cart chg-quantity"
						src="{% static 'images/arrow-right.png' %}">
				</div>
				<div class="subtotal" style="flex:1.1"><p>₱{{ item.get_total | floatformat:2 }}</p></div>
				<i style="flex:0.25" class="fa fa-trash trash-icon update-cart" 
					data-product="{{item.product.id}}" data-action="set-zero"></i>
			</div>
			{% endfor %}
		</div>
		<div class="right-ctnr">
			<div class="summary-section">
				<h3 class="summary-title" style="margin-bottom: 15px"> 	
					<i class="bi bi-receipt" style="margin-right: 5px;"></i> Order Summary</h3>
				<table class="table table-bordered">
					<tbody>
					  <tr>
						<td style="width: 40%; padding-left: 15px;">Items:</td>
						<td style="padding-left: 15px;" class="total-items">{{ order.get_cart_items }}</td>
					  </tr>
					  <tr>
						<td style="width: 40%; padding-left: 15px;">Grand Total:</td>
						<td style="padding-left: 15px;" class="grandtotal">₱{{ order.get_cart_total | floatformat:2 }}</td>
					  </tr>
						<td style="width: 40%; padding-left: 15px;">Shipping Fee:</td>
						<td style="padding-left: 15px;"> Free of Charge! </td>
					  </tr>
					  <tr>
						<td style="width: 40%; padding-left: 15px;">Deliver to:</td>
						<td style="padding-left: 15px;">
						  {% if user.is_authenticated %}
							{{ user.first_name }} {{ user.last_name }}
						  {% else %}
							Guest
						  {% endif %}
						</td>
					  </tr>
					</tbody>
				</table>				  
				<div class="summary-btn-container">
					<a class="summary-btn" href="{% url 'products' %}">Continue Shopping</a>
					<a id="checkout" class="summary-btn">Checkout</a>
				</div>
			</div>
			<div class="summary-section">
				<h3 class="summary-title"> <i class="bi bi-cash" style="margin-right: 10px;"></i> Payment Methods</h3>
				<div class="payment-txt"> 
					Garden of Melon accepts the following payment options:</div>
				<div class="payment-img-container">
					<img src="{% static 'Images/Gcash.png' %}" class="payment-logo gcash">
					<img src="{% static 'Images/Maya.png' %}" class="payment-logo maya">
					<img src="{% static 'Images/VISA.png' %}" class="payment-logo visa">
					<img src="{% static 'Images/MasterCard.png' %}" class="payment-logo mastercard">
					<img src="{% static 'Images/BDO.png' %}" class="payment-logo bdo">
					<img src="{% static 'Images/BPI.png' %}" class="payment-logo bpi">
				</div>
				</div>
			</div>
		</div>
		{% else %}
			<div class="box-element-empty">
				<img src="{% static 'Images/Empty-cart.png' %}" class="emptyCartImg">
				<div class="emptyCartMsg"> Oh naur! There are currently no plants in your cart. 😢 </div>
				<a class="summary-btn start-shop-btn" href="{% url 'products' %}">
					<span style="display: flex; margin: auto;"> Start Shopping </span> </a>
			</div>
		{% endif %}
	</div>

	<div class="popup-overlay"></div>
	<div class="popup center">
		<div class="icon">
			<i class="fa fa-check"></i>
		</div>
		<div class="title">
			Order has been successfully placed!
		</div>
		<div class="description">
			Thank you for your purchase! You will receive a confirmation email shortly with all the details, including your order 
			summary and tracking information once your items are shipped. If you have any questions or in need of assistance, feel free 
			to reach out to our customer support team. We look forward to serving you again soon!
		</div>
		<div class="optionBtns">
			<button class="modalBtns" id="home"  onclick="window.location.href='/home'"> Return </button>
			<button class="modalBtns" id="shop-more" onclick="window.location.href='/products'"> Shop More </button>
		</div>
	</div>

	{% include 'footer.html' %}
	<script type="text/javascript" src="{% static 'Scripts/Cart.js' %}"> </script>
	<script type="text/javascript" src="{% static 'Scripts/Checkout.js' %}"> </script>
</body>
</html>