<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">

 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'Styles/Home.css' %}">
  <script src="{% static 'Scripts/Home.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e1eebc; height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
      
    
          <a href="#" class="nav-link">
            <img src="{% static 'Logos/GoM-Horizontal-Logo.png' %}" class="img-fluid rounded-start" alt="..." style="height: 90px; width: auto;">
          </a>
      
          <div class="d-flex flex-row justify-content-center align-items-center flex-wrap">
         
            <form id="searchForm" class="d-flex mx-2 search-form" style=" width: 330px; display: none;">
                <input class="form-control me-1" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-info" type="submit" style="background-color: #90c67c; border:none;">
                    <i class="fas fa-search"></i>
                </button>
              </form>
              
            <button id="searchToggle" class="btn nav-link mx-2">
              <img src="{% static 'Logos/Search.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </button>
      
       
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/About-Us.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/Products.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/Contacts.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/Account.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
            <a href="#" class="nav-link mx-2">
              <img src="{% static 'Logos/Shopping-Cart.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
            </a>
          </div>
        </div>
      </nav>

      <div class="navbar-border"></div>

      <div class="hero-section">
        <div class="overlay"></div>
        <div class="plant-text">
          <h1>Welcome to the Garden of Melon!</h1>
        </div>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
      
      <script>
</script>
      
</body>
</html>
