<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% include 'head.html' %}
  <link rel="stylesheet" type="text/css" href="{% static 'Styles/Home.css' %}">
  <script src="{% static 'Scripts/Navbar.js' %}"></script>
  <script src="{% static 'Scripts/Slider.js' %}" defer></script>
</head>

<body data-static-path="{% static 'Images/' %}">
      {% include 'navbar.html' %}

      <div class="hero-section">
        <div class="overlay"></div>
        <div class="plant-text">
          {% if user.is_authenticated %}
              <h1 class="plant-text-h1">Pleased to have you in Garden of Melon, {{ user.first_name }}!</h1>
          {% else %}
              <h1 class="plant-text-h1">Welcome to the Garden of Melon!</h1>
          {% endif %}
          <p class="catch-phrase">We bring nature’s charm right into your home, one leaf at a time.🍃</p>
          <a href="/products/" class="shop-button">Shop Now</a>
        </div>
      </div>

      <div class="navbar-border"></div><br> 
      <div class="plant-slider">
        <div class="plant-list">
          <div class="slider-item">
            <img src="{% static 'Images/ornamental-plant.jpg' %}" alt="flowering">

            <div class="slider-content">
              <div class="slider-title">CATEGORIES</div>
              <div class="type">ORNAMENTALS</div>
              <div class="description">
                Add life and beauty to your space with our ornamental plants, featuring vibrant flowers, lush indoor greens, and charming succulents. Perfect for creating elegant and colorful displays, both indoors and out.
              </div>
              <div class="see-more-button">
                <a href="{% url 'products' %}?category=Ornamentals" class="see-more-btn">
                  SEE MORE
                </a>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <img src="{% static 'Images/botanical-plant.jpg' %}" alt="botanical">

            <div class="slider-content">
              <div class="slider-title">CATEGORIES</div>
              <div class="type">BOTANICAL</div>
              <div class="description">
                Discover rare and unique plants curated by genus and species in our botanical collections. Ideal for collectors and enthusiasts who appreciate the diversity and beauty of nature.  
              </div>
              <div class="see-more-button">
                <a href="{% url 'products' %}?category=Botanical Collections" class="see-more-btn">
                  SEE MORE
                </a>
              </div>
            </div>
          </div>

          <div class="slider-item">
            <img src="{% static 'Images/functional-plant.jpg' %}" alt="functional">

            <div class="slider-content">
              <div class="slider-title">CATEGORIES</div>
              <div class="type">FUNCTIONAL</div>
              <div class="description">
                Grow herbs, healing plants, and fruit-bearing varieties that bring both beauty and purpose to your home. These functional plants offer fresh harvests and natural wellness benefits year-round.
              </div>
              <div class="see-more-button">
                <a href="{% url 'products' %}?category=Functional Plants" class="see-more-btn">
                  SEE MORE
                </a>
              </div>
            </div>
          </div>

        </div>

        <br> <br> <br>

        <div class="thumbnail">
          <div class="slider-item">
            <img src="{% static 'Images/ornamental-plant.jpg' %}" alt="">
          </div>

          <div class="slider-item">
            <img src="{% static 'Images/botanical-plant.jpg' %}" alt="">
          </div>

          <div class="slider-item">
            <img src="{% static 'Images/functional-plant.jpg' %}" alt="">
          </div>
        </div>

        <div class="nextPrevArrows">
          <button class="prev">←</button>
          <button class="next">→</button>
        </div>
      </div>

      <div class="about" id="awp-text"> AWARD-WINNING PLANTS </div>
        <div class="awp-container">
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant1.webp' %}">
                </div>
                <div class="content-box">
                    <h4> 1. Calathea </h4>
                    <p> A group of tropical plants known for their stunning, patterned leaves that often have a purplish underside. 
                        Nicknamed the <i>Prayer Plant</i> because many species close their leaves at night, like they're praying. 
                        They're a bit fussy but totally worth it for looks.</p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant2.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 2. Peace Lily </h4>
                    <p> Also known as <i>Spathiphyllum</i>, a graceful houseplant known for its dark green leaves and elegant white, 
                        sail-like flowers. It’s not a true lily but is prized for its beauty and air-purifying abilities. 
                        Peace Lilies also symbolize peace and healing. </p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant3.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 3. African Violet </h4>
                    <p> Also known as <i>Saintpaulia</i>, a compact flowering plant with fuzzy, dark green leaves and clusters of small, 
                        colorful blooms (purple, pink, white, etc.). They’re popular for their long blooming period and are easy 
                        to grow on windowsills. </p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant4.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 4. Monstera Deliciosa </h4>
                    <p> Also known as the <i>Swiss Cheese Plant</i>, it's a tropical vine native to Central America, famous for its large,
                        glossy green leaves with natural holes or slits. It's fast-growing and gives off major jungle vibes, making 
                        it a favorite statement plant.</p>
                    <button href=""  class="view-btn"> VIEW </button>
                </div>
            </div>
            <div class="awp-card">
                <div class="img-box">
                    <img src="{% static 'Images/AWPlant5.jpg' %}">
                </div>
                <div class="content-box">
                    <h4> 5. Bird of Paradise </h4>
                    <p> It is a striking tropical plant native to South Africa, known for its large, banana-like leaves and 
                        extraordinary flowers that resemble the shape of a colorful bird in flight. The vibrant orange and 
                        blue blooms make it a show-stopper. </p>
                        <button href=""  class="view-btn"> VIEW </button>
                </div>
          </div>
      </div> 

      <section class="credentials">
        <br>
        <h2>Was Featured In</h2>
        <div class="credential-logos">
          <img src="{% static 'Images/Featured/GMA.png' %}" alt="GMA Integrated News" style="height: 150px; width: auto"/>
          <img src="{% static 'Images/Featured/KMJS.png' %}" alt="Kapuso Mo Jessica Soho"  style="height: 150px; width: auto"/>
          <img src="{% static 'Images/Featured/TV_Patrol.png' %}" alt="TV Patrol"  style="height: 150px; width: auto"/>
          <img src="{% static 'Images/Featured/When_Manila.png' %}" alt="When in Manila"  style="height: 150px; width: auto"/>
          
          <img src="{% static 'Images/Featured/Manila_Standard.png' %}" alt="Manila Standard"  style="height: 150px; width: auto"/>
          <img src="{% static 'Images/Featured/Tatler.png' %}" alt="Tatler"  style="height: 150px; width: auto"/>
          <img src="{% static 'Images/Featured/Manila_Times.png' %}" alt="Manila Times"  style="height: 150px; width: auto"/>
          <img src="{% static 'Images/Featured/Inquirer.png' %}" alt="Inquirer net" style="height: 150px; width: auto" />  
        </div>
      </section>
        
      <div id="authenticated-user-modal" class="logged-in-modal"> 👤 You have successfully logged in to your account! </div>
      
      {% include 'footer.html' %}
      <script type="text/javascript" src="{% static 'Scripts/Modal.js' %}"> </script>
</body>
</html>