<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Login-register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Products.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Search.css' %}">
    <script src="{% static 'Scripts/Navbar.js' %}"></script>
    <script src="{% static 'Scripts/Products.js' %}" defer></script>
    <script src="{% static 'Scripts/Search.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</head>

<body data-static-path="{% static 'Images/' %}">
    <header>
      {% include 'navbar.html' %}
    </header>

    <div id="login-body">
        <div id="login-form">
            <div id="login-form-title">
                <p style="font-size: 25px; font-weight: bold;">Login</p>
                {% if messages %}
                <div class="mb-2">
                    {% for message in messages %}
                        <span class="alert alert-{{ message.tags }}" id="login-error-messages">ⓘ {{ message }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="mb-2">
                        <span> Nice to see you again! </span>
                </div>
                {% endif %}
            </div>
    
            <form method="post">
                {% csrf_token %}
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email-addon">✉</span>
                    <div class="form-floating">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="password-addon">🔒</span>
                    <div class="form-floating">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
    
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary" id="login-btn">Login →</button>
                </div>
    
                <p class="text-center" style="font-size: 15px;">
                    Don’t have an account?
                    <a href="{% url 'register' %}" style="color: #90c67c; text-decoration: none;">Register here</a>
                </p>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>