<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'head.html' %}
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Login-register.css' %}">
</head>

<body data-static-path="{% static 'Images/' %}">
    <header>
      {% include 'navbar.html' %}
    </header>

    <div id="login-body">
        <div id="login-form">
            <div id="login-form-title">
                <p style="font-size: 25px; font-weight: bold;">Login</p>
                {% if messages %}
                <div class="mb-2">
                    {% for message in messages %}
                        <span class="alert alert-{{ message.tags }}" id="login-error-messages">ⓘ {{ message }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <div class="mb-2">
                        <span> Nice to see you again! </span>
                </div>
                {% endif %}
            </div>
    
            <form method="post">
                {% csrf_token %}
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email-addon">✉</span>
                    <div class="form-floating">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="password-addon">🔒</span>
                    <div class="form-floating">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
    
                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary" id="login-btn">Login →</button>
                </div>
    
                <p class="text-center" style="font-size: 15px;">
                    Don’t have an account?
                    <a href="{% url 'register' %}" style="color: #90c67c; text-decoration: none;">Register here</a>
                </p>
                <p id="admin-login"><a href="/admin/login/" style="color: #90c67c;">Login as Admin</a></p>
            </form>
        </div>
    </div>

    <div id="login-required" class="login-to-checkout-modal"> 🔐 Please login to your account first before checking out! </div>

    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'Scripts/Modal.js' %}"> </script>
</body>
</html>