 
 {% load static %}
 <nav class="navbar">

    <a href="{% url 'home' %}" class="nav-link">
      <img src="{% static 'Logos/GoM-Horizontal-Logo.png' %}" class="home-logo img-fluid rounded-start" alt="...">
    </a>
      
      <div class="nav-elements">
        <div id="search-bar">
          <form id="searchForm" class="d-flex mx-2 search-form" style="width: 330px; display: none;" method="GET" action="{% url 'products' %}">
            <input id="searchInput" name="search" class="form-control me-1" type="search" placeholder="Search..." aria-label="Search" value="{{ request.GET.search }}">
            <button class="btn btn-info" type="submit" style="background-color: #90c67c; border:none;">
                <i class="fas fa-search"></i>
            </button>
            {% if request.GET.search %}
                <a href="{% url 'products' %}" id="clear-search-btn" class="btn btn-outline-danger ms-2">Clear</a>
            {% endif %}
          </form>
            
          <button id="searchToggle" class="btn nav-link mx-2">
            <img src="{% static 'Logos/Search.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
          </button>
    
        </div>
        
        <ul>
          <li><a href="{% url 'about' %}" class="nav-link mx-2">
            <img src="{% static 'Logos/About-Us.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
          </a></li>

          <li><a href="{% url 'products' %}" class="nav-link mx-2">
            <img src="{% static 'Logos/Products.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
          </a></li>

          <li><a href="{% url 'contact' %}" class="nav-link mx-2">
            <img src="{% static 'Logos/Contacts.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
          </a></li>

          <li><a href="{% url 'login' %}" class="nav-link mx-2">
            <img src="{% static 'Logos/Account.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
          </a></li>

          <li>
            <a href="#" class="nav-link mx-2" id="shopping">
              <div class="cart-container">
                <img src="{% static 'Logos/Shopping-Cart.png' %}" class="img-fluid rounded-start" alt="..." style="height: 80px; width: auto;">
                <span class="quantity" style="position: absolute; top: -6px; right: 20px;">0</span>
              </div>
            </a>
          </li>
          
        </ul>
      </div>
  </nav>
  <div class="navbar-border"></div>

    <div class="cart">
        <div class="cart-headings">
          <h1>Shopping Cart</h1>
          <span class="closeShopping">✕</span>
        </div>
        <ul class="listCart">
          <img src="{% static 'Images/Empty-Cart.png' %}" class="emptyCartImg">
          <div class="emptyCartMsg"> There are currently no items in your cart. </div>
        </ul>
        <div class="checkOut">
            <div class="total">₱ 0</div>
            <div class="checkout-btn">CHECK OUT</div>
        </div>
    </div>