<html lang="en">
<head>
    {% load static %}
    {% include 'head.html' %}
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Products.css' %}">
    <script src="{% static 'Scripts/Products.js' %}" defer></script>
    <script type="text/javascript"> 
      var user = '{{request.user}}'
      function getToken(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      var csrftoken = getToken('csrftoken')

      function getCookie(name) {
          // Split cookie string and get all individual name=value pairs in an array
          var cookieArr = document.cookie.split(";");

          // Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++) {
              var cookiePair = cookieArr[i].split("=");

              /* Removing whitespace at the beginning of the cookie name
              and compare it with the given string */
              if(name == cookiePair[0].trim()) {
                  return decodeURIComponent(cookiePair[1]);
              }
          }
          return null;
      }
      var cart = JSON.parse(getCookie('cart'))
      if (cart == undefined) {
        cart = {}
        console.log('Cart was created!')
        document.cookie = 'cart=' + JSON.stringify(cart) + '; path=/'
      }
    </script>
  </head>
<body data-static-path="{% static 'Product-Images/' %}">
    {% include 'navbar.html' %}

    <!-- -------------- PRODUCT DISPLAY -------------- -->
    <!-- NEW CODE: from filter buttons to filter anchor tags -->
    <div class="product-grid">
      <div class="product-filter">
        <h2>Filter by Price</h2>
 
         <form>
           <input id="minInput" name="minprice" class="form-control filter-btn" type="text" inputmode="numeric" placeholder="Minimum price" value="">
           <input id="maxInput" name="maxprice" class="form-control filter-btn" type="text" inputmode="numeric" placeholder="Maximum price" value="">
           <button class="btn btn-success" type="submit" style="margin: 5px;"> Filter </button>
         </form>


        <h2>Filter by Category</h2>

        <a href="{% url 'products' %}" type="button" class="btn btn-success mb-2 {% if not request.GET.category %}active{% endif %}">All Categories</a>

      <!-- Ornamentals collapse -->
      <a href="{% url 'products' %}?category=Ornamentals" class="btn btn-success mb-2">
        Ornamentals
      </a>
      <a href="{% url 'products' %}?subcategory=Succulents" class="btn btn-outline-success filter-btn">Succulents</a>
      <a href="{% url 'products' %}?subcategory=Flowering Beauties" class="btn btn-outline-success filter-btn">Flowering Beauties</a>
      <a href="{% url 'products' %}?subcategory=Indoor Ornamentals" class="btn btn-outline-success filter-btn">Indoor Ornamentals</a>
      <a href="{% url 'products' %}?subcategory=Outdoor Adventurers" class="btn btn-outline-success filter-btn">Outdoor Adventurers</a>

        <!-- Botanical Collections collapse -->
        <a href="{% url 'products' %}?category=Botanical Collections" class="btn btn-success mb-2">
          Botanical Collections
        </a>
        <a href="{% url 'products' %}?subcategory=Aglaonema" class="btn btn-outline-success filter-btn">Aglaonema</a>
          <a href="{% url 'products' %}?subcategory=Alocasia" class="btn btn-outline-success filter-btn">Alocasia</a>
          <a href="{% url 'products' %}?subcategory=Begonia" class="btn btn-outline-success filter-btn">Begonia</a>
          <a href="{% url 'products' %}?subcategory=Dracaena" class="btn btn-outline-success filter-btn">Dracaena</a>
          <a href="{% url 'products' %}?subcategory=Ficus" class="btn btn-outline-success filter-btn">Ficus</a>
          <a href="{% url 'products' %}?subcategory=Monstera" class="btn btn-outline-success filter-btn">Monstera</a>
          <a href="{% url 'products' %}?subcategory=Philodendron" class="btn btn-outline-success filter-btn">Philodendron</a>
          <a href="{% url 'products' %}?subcategory=Pothos" class="btn btn-outline-success filter-btn">Pothos</a>
          <a href="{% url 'products' %}?subcategory=Sansevieria" class="btn btn-outline-success filter-btn">Sansevieria</a>

        <!-- Functional Plants collapse -->
        <a href="{% url 'products' %}?category=Functional Plants" class="btn btn-success mb-2">
          Functional Plants
        </a>
        <a href="{% url 'products' %}?subcategory=Fruit-bearing" class="btn btn-outline-success filter-btn">Fruit-bearing</a>
          <a href="{% url 'products' %}?subcategory=Herbs and Edibles" class="btn btn-outline-success filter-btn">Herbs and Edibles</a>
          <a href="{% url 'products' %}?subcategory=Bloom and Doom" class="btn btn-outline-success filter-btn">Bloom and Doom</a>
      </div>

    <div class="product-container">
      {% if no_results %}
         {% if search_performed %}
           <div id="no-results-msg" class="alert alert-info text-center my-4" style="width: 100%;">
             <h4>🔍︎ No products found</h4>
             <p>No products match your search for "{{ search_query }}"</p>
             <a href="{% url 'products' %}" id="view-all-products-btn" class="btn btn-outline-success">View all products</a>
           </div>
         {% endif %}
 
         {% if filterMin_performed or filterMax_performed %}
           {% if filterMin_performed and filterMax_performed %}
           <div id="no-results-msg" class="alert alert-info text-center my-4" style="width: 100%;">
            <h4>🔍︎ No products found</h4>
            <p>No products match your filter for "₱{{ min_price|floatformat:2 }} - ₱{{ max_price|floatformat:2 }}"</p>
            <a href="{% url 'products' %}" id="view-all-products-btn" class="btn btn-outline-success">View all products</a>
           </div>
           {% elif filterMin_performed %}
             <div id="no-results-msg" class="alert alert-info text-center my-4" style="width: 100%;">
              <h4>🔍︎ No products found</h4>
              <p>No products match your filter for minimum price of "₱{{ min_price|floatformat:2 }}"</p>
              <a href="{% url 'products' %}" id="view-all-products-btn" class="btn btn-outline-success">View all products</a>
             </div>
           {% elif filterMax_performed %}
             <div id="no-results-msg" class="alert alert-info text-center my-4" style="width: 100%;">
               <h4>🔍︎ No products found</h4>
               <p>No products match your filter for maximum price of "₱{{ max_price|floatformat:2 }}"</p>
               <a href="{% url 'products' %}" id="view-all-products-btn" class="btn btn-outline-success">View all products</a>
             </div>
           {% endif %}
         {% endif %}

      {% else %}
        {% if search_performed %} 
        <br> <p class="search-results">🔍︎ Search results for "<strong>{{ search_query }}</strong>"</p>
        {% endif %}
        
        {% if filterMin_performed or filterMax_performed %}
          {% if filterMin_performed and filterMax_performed %}
            <br> <p class="search-results">🔍︎ Filter results for "<strong>₱{{ min_price|floatformat:2 }} - ₱{{ max_price|floatformat:2 }}</strong>"</p>
          {% elif filterMin_performed %}
            <br> <p class="search-results">🔍︎ Filter results for minimum price of "<strong>₱{{ min_price|floatformat:2 }}</strong>"</p>
          {% elif filterMax_performed %}
            <br> <p class="search-results">🔍︎ Filter results for maximum price of "<strong>₱{{ max_price|floatformat:2 }}</strong>"</p>            {% endif %}
        {% endif %}
  
        <div class="list">
          {% for product in products %}
          <div class="item" data-main-category="{{ product.category }}" data-category="{{ product.subcategory }}">
              <img src="{{ product.image.url }}" alt="{{ product.name }}">
              <div class="item-buttons">
                <button data-product={{product.id}} data-action='add' class="add-to-cart-btn 
                update-cart" data-id="{{ forloop.counter0 }}"><i class="fas fa-shopping-cart"></i></button>
                <button class="view-btn"><i class="fas fa-eye"></i></button>
              </div>

              <h4 class="title">{{ product.name }}</h4>
              <div class="price">₱{{ product.price|floatformat:2 }}</div>
              
          </div>
          {% endfor %}
      </div>

        {# Pagination controls at the bottom #}
        <!-- NEW CODE: Preserves the search result and category & price filter when clicking next/previous page -->
        <!-- <div class="pagination-controls mt-3">
          {% if products.has_previous %}
            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}{% if current_category %}category={{ current_category }}
            &{% endif %}{% if min_price %}minprice={{ min_price }}&{% endif %}{% if max_price %}maxprice=
            {{ max_price }}&{% endif %}page={{ products.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
          {% else %}
            <button class="btn btn-outline-secondary" disabled>Previous</button>
          {% endif %}
          
          <span class="mx-3">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
          
          {% if products.has_next %}
            <a href="?{% if search_query %}search={{ search_query }}&{% endif %}{% if current_category %}category={{ current_category }}
            &{% endif %}{% if min_price %}minprice={{ min_price }}&{% endif %}{% if max_price %}maxprice=
            {{ max_price }}&{% endif %}page={{ products.next_page_number }}" class="btn btn-outline-primary">Next</a>
          {% else %}
            <button class="btn btn-outline-secondary" disabled>Next</button>
          {% endif %}
        </div> -->


        <div class="pagination-controls mt-3">
          {% if products.has_previous %}
              <a href="?{% if search_query %}search={{ search_query }}&{% endif %}{% if current_category %}category={{ current_category }}&{% endif %}{% if min_price %}minprice={{ min_price }}&{% endif %}{% if max_price %}maxprice={{ max_price }}&{% endif %}page={{ products.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
          {% else %}
              <button class="btn btn-outline-secondary" disabled>Previous</button>
          {% endif %}
          
          <span class="mx-3">Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
          
          {% if products.has_next %}
              <a href="?{% if search_query %}search={{ search_query }}&{% endif %}{% if current_category %}category={{ current_category }}&{% endif %}{% if min_price %}minprice={{ min_price }}&{% endif %}{% if max_price %}maxprice={{ max_price }}&{% endif %}page={{ products.next_page_number }}" class="btn btn-outline-primary">Next</a>
          {% else %}
              <button class="btn btn-outline-secondary" disabled>Next</button>
          {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

      <!-- Product Detail Modal -->
    <div id="productModal" class="modal">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <div class="modal-body">
          <img id="modalProductImage" src="" alt="">
          <div class="modal-details">
            <h2 id="modalProductName"></h2>
            <div class="scientific-name" id="modalScientificName"></div>
            <div class="price" id="modalProductPrice"></div>
            <div class="categories">
              <span id="modalProductCategory"></span> • 
              <span id="modalProductSubcategory"></span>
            </div>
            <div class="description" id="modalProductDescription"></div>
            
            <div class="quantity-container">
              <input type="number" id="modalQuantity" value="1" min="1" class="quantity-input" />
              <button data-product="" data-action='add' class="modal-add-to-cart update-cart">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
   {% include 'footer.html' %}

   <script type="text/javascript" src="{% static 'Scripts/Cart.js' %}"> </script>
</body>
</html>