<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'head.html' %}
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Styles/Login-register.css' %}">
    <script src="{% static 'Scripts/Login-register.js' %}" defer></script>
</head>

<body data-static-path="{% static 'Images/' %}">
    <header>
      {% include 'navbar.html' %}
    </header>

    <div id="register-body">
        <div id="register-form">
            <div id="register-form-title">
                <p style="font-size: 25px; font-weight: bold;">Register</p>
                <div class="mb-2">
                    <span> Fill in the necessary information below. </span>
                </div>
            </div>
            
            <form method="post">
                {% csrf_token %}
                
                <div id="name-fields"> 
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="firstname-addon">👤</span>
                        <div class="form-floating">
                            <input type="text" name="{{ form.first_name.name }}" class="form-control form-control-names" 
                                   id="{{ form.first_name.id_for_label }}" placeholder="First Name"
                                   {% if form.first_name.field.required %}required{% endif %}
                                   {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}>
                            <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        </div>
                    </div>
                    
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="lastname-addon">👤</span>
                        <div class="form-floating">
                            <input type="text" name="{{ form.last_name.name }}" class="form-control form-control-names" 
                                   id="{{ form.last_name.id_for_label }}" placeholder="Last Name"
                                   {% if form.last_name.field.required %}required{% endif %}
                                   {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}>
                            <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        </div>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="phone-addon">📞</span>
                    <div class="form-floating">
                        <input type="tel" name="{{ form.phone_number.name }}" class="form-control" 
                               id="{{ form.phone_number.id_for_label }}" placeholder="Phone Number"
                               {% if form.phone_number.field.required %}required{% endif %}
                               {% if form.phone_number.value %}value="{{ form.phone_number.value }}"{% endif %}>
                        <label for="{{ form.phone_number.id_for_label }}">Phone</label>
                    </div>
                </div>

                {% if form.phone_number.errors %}
                    <div class="mb-2">
                        {% for error in form.phone_number.errors %}
                            <span class="alert alert" id="login-error-messages">ⓘ {{ error }}</span><br>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email-addon">✉</span>
                    <div class="form-floating">
                        <input type="email" name="{{ form.email.name }}" class="form-control" 
                               id="{{ form.email.id_for_label }}" placeholder="Email"
                               {% if form.email.field.required %}required{% endif %}
                               {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                        <label for="{{ form.email.id_for_label }}">Email</label>
                    </div>
                </div>

                {% if form.email.errors %}
                    <div class="mb-2">
                        {% for error in form.email.errors %}
                            <span class="alert alert" id="login-error-messages">ⓘ {{ error }}</span><br>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="input-group mb-3" style="position: relative;">
                    <span class="input-group-text" id="password-addon">🔒</span>
                    <div class="form-floating">
                        <input type="password" name="{{ form.password.name }}" class="form-control" 
                               id="{{ form.password.id_for_label }}" placeholder="Password"
                               {% if form.password.field.required %}required{% endif %}>
                        <label for="{{ form.password.id_for_label }}">Password</label>
                    </div>
                    <span class="toggle-password" onclick="togglePassword()" style="position: absolute; right: 20px; top: 65%; transform: translateY(-50%); cursor: pointer; font-size: 20px; color: #90c67c; z-index: 5;">
                    <span class="toggle-password" onclick="togglePassword()" style="position: absolute; right: 20px; top: 65%; transform: translateY(-50%); cursor: pointer; 
                    font-size: 20px; color: #90c67c; z-index: 5;">
                            <i id="eye-icon" class="fa-solid fa-eye"></i>
                    </span> 
                </div>
                
                <div id="register-form-bottom">
                    <button type="submit" class="btn btn-success" id="create-new-account-btn">Create New Account →</button><br><br>
                    <p style="font-size: 15px;">Already have an account? <a href="{% url 'login' %}" style="color: #90c67c; text-decoration: none;">Login here</a></p>
                </div>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>