#background-img{
    background-image: url(../Images/IndoorPlants.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}
.about-container{
    padding: 25px;
    margin: auto;
    width: 1175px;
    color: black;
    display: flex; 
    flex-direction: column;                       
}
.about{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 17.5px;
}
#about-text{
    font-size: 40px;            
    font-weight: bold;         
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    color: green;
}
.card-title{
    font-weight: bold;         
    color: green;
    text-align: center;
    font-size: 25px;
}
.card-text{
    text-align: justify;
}
#team-text{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 40px;            
    font-weight: bold;         
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    color: green;
}
.row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.team-card-container{
    perspective: 1200px;
}
.team-card{
    position: relative;
    width: 225px;
    height: 275px;
    transform-style: preserve-3d;
    transition: transform 0.7s;
    background-color: rgb(225, 225, 225);
    border-radius: 8px;
}
.team-card-text{
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    font-weight: bolder;
    text-align: center;
}
.team-card-images{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.front, .back{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}
.front{
    color: black;
    transform: rotateY(0deg);
}
.back{
    display: flex;
    flex-direction: column;
    background-image: url(../Images/Leaf-bg.jpg);
    color: black;
    transform: rotateY(180deg);
}
.role{
    color: green;
    font-weight: bold;
}
.team-card-container:hover .team-card{
    transform: rotateY(180deg);
}
.footer{
    margin-top: 15px;
    width: 100%;
    height: 125px;
    background-image: url(../Images/Plantbg.jpg);
    background-size: cover;
}
.footer-text-container{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 252, 252, 0.6);
} 