body{
    background-image: url('../Images/cart-bg.jpg');
    background-size: cover;
    overflow-x: hidden;
}

.cart-page{
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 40px;
}

.main-cart-text{
    width: 100%;
    padding-left: 8px;
    margin-bottom: 15px;
    font-size: 50px;
    font-family: 'Oleo Script';
    color: #871313;
    border-radius: 10px;
    text-align: center;
}

.box-element{
    width: 70%;
    background-color: #fffcfc;
    box-shadow: hsl(0, 0%, 75%) 0 5px 15px; 
	border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    height: fit-content;
}

.box-element-empty{
    width: 100%;
    margin: auto;
}

.cart-row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 25px;
    font-family: 'Winky Rough';
    color: #a94a4a;
}

.product-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Winky Rough';
    background-color: #f2f7df;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    border: 1.5px solid black;
    overflow-wrap: break-word;
    transition: opacity 0.65s ease-out;
}

.product-row.removed{
    opacity: 0; 
    pointer-events: none;
}

.product-row p{
    margin-top: 8%;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 6.5px;
	transition: 0.1s;
}

.row-image {
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}

.item-product-name-div {
    max-width: 15%;
    overflow-wrap: break-word;
    margin-right: 3.5rem;
    margin-left: 0.8rem;
}

.chg-quantity:hover{
	opacity: 0.5;
}

.item-quantity{
    text-align: center;
    width: 45px;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
}

.quantity-arrow-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: start;
}

.trash-icon {
    color: #67ae6e;
    cursor: pointer;
}

.trash-icon:hover {
    color: #328e6e;
}

.right-ctnr{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    width: 100%;
    background-color: #fffcfc;
    box-shadow: hsl(0, 0%, 77%) 0 4px 12px; 
    border-radius: 15px;
    margin-bottom: 25px;
    font-family: 'Winky Rough';
    font-size: 20px; 
}

.summary-title {
    font-size: 35px;  
    font-family: 'Oleo Script';
    color: #871313; 
    margin-bottom: 15px;
    text-align: center;
}

.info-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}

.summary-item {
    font-size: 22px;
    margin-bottom: 15px; 
    color: #444;
}

.summary-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-btn {
    width: 48%;
    background-color: #90c67c; 
    color: #fff; 
    border-radius: 8px;
    padding: 12px 25px; 
    font-size: 18px; 
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.summary-btn:hover {
    background-color: #76b36b; 
}

.payment-txt {
    text-align: center; 
    padding-bottom: 7.5px;
    border-bottom: 1.5px solid black;
}

.payment-img-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	justify-content: center;
	margin-top: 15px;
    margin-bottom: 10px;
}

.payment-logo {
	max-height: 60px;
	object-fit: contain;
}

.start-shop-btn {
    display: flex;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Winky Rough';
    font-size: 22.5px;
}

.emptyCartImg {
    width: 250px; 
    height: 250px; 
    margin: auto;
    display: flex;
}

.emptyCartMsg {
    display: block; 
    text-align: center;
    font-family: 'Winky Rough'; 
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
}

