body {
    background-image: url('../Images/contacts-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#contact-body {
    padding: 35px 20px;
}

#contact-body .row {
    display: flex;
    flex-wrap: wrap;
}

#contact-body .col-md-6 {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#contact-form,
#contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    background-color: rgba(255, 253, 253, 0.85);
    border-radius: 10px;
    padding: 30px;
    margin-top: 20px;
    width: 100%;
}

#contact-form-title {
    text-align: center;
}

.input-group {
    height: 50px;
    width: 100%;
}

input,
textarea {
    border: 1px solid #90c67c;
}

#floatingTextarea {
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
    width: 100%;
}

.form-control {
    width: 100%;
}

#send-message-btn {
    width: 100%;
    background-color: #90c67c;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#send-message-btn:hover {
    background-color: #78b363;
}

#contact-error-messages {
    color: red;
}

#map-frame {
    width: 100%;
    height: 409px;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
}

.contact-modal {
  position: fixed;
  width: auto;
  right: 12px;
  bottom: 12px;
  background-color: #e1ebce;
  text-align: center;
  border: 2.5px solid #2e7d32;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.9);
  padding: 16px 20px;
  border-radius: 8px;
  font-family: 'Winky Rough';
  font-size: 20px;
  z-index: 1000;
  display: none;
  animation: slideIn 0.3s ease-out;
}

@media (max-width: 992px) {
    #contact-form,
    #contact-details {
        padding: 25px;
    }
}

@media (max-width: 775px) {
    #contact-body {
        padding: 20px 10px;
    }

    #map-frame {
        height: 300px;
    }

    #send-message-btn {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    #floatingTextarea {
        height: 150px;
    }

    .input-group {
        flex-direction: column;
        align-items: stretch;
    }

    .input-group .form-floating {
        width: 89%;
    }

   .input-group-text {
        margin-bottom: 5px;
        padding: 16px 14px;
        justify-content: center;
    }
}