body {
    background-image: url('../Images/login-register-bg.jpg');
    background-size: cover;
}

#register-body {
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 90px;
    align-items: center;
    min-height: 100vh;   
}

#login-body {
    padding-top: 70px;
    padding-left: 90px;
    align-items: center;
    min-height: 100vh; 
}

#register-form-title, #register-form-bottom, #login-form-title {
    text-align: center;
}

#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    width: 500px;
    border-radius: 10px;
    padding: 30px 20px; 
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    width: 500px;
    border-radius: 10px;
    padding: 30px 20px; 
    transition: all 0.3s ease-in-out;
}

.input-group {
    height: 50px;
}

.form-control {
    width: 390px;
}

#create-new-account-btn, #login-btn {
    width: 440px;
    background-color: #90c67c;
    border-radius: 50px; 
    border-color: #90c67c;
}

#login-error-messages {
    color: red;
}

/* ----------- NAVBAR CSS ----------- */
header {
    margin: 0;
    padding: 0;
  }

h1 {
    font-family: "Oleo Script", system-ui;
    font-size: 20px;
}

.nav-link img {
    transition: transform 0.2s ease, filter 0.2s ease;
}

.nav-link img:hover {
    background-color: #90c67c;
    transform: scale(1.1);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.6));
}

.navbar-border {
    background-color: #90c67c;
    height: 9px;
}

.search-form {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.search-form.show {
    display: flex;
    opacity: 1;
}
#searchForm button:hover {
    background-color: #871313;
    color: #fff;
}

#searchForm input:hover {
    border-color: #871313; 
}

#searchForm input:active {
    border-color: #000000; 
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.7);
}

#searchForm button {
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}