body {
    background-image: url('../Images/login-register-bg.jpg');
    background-size: cover;
}

#register-body {
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 90px;
    align-items: center;
    min-height: 100vh;   
}

#login-body {
    padding-top: 70px;
    padding-left: 90px;
    align-items: center;
    min-height: 100vh; 
}

#register-form-title, #register-form-bottom, #login-form-title {
    text-align: center;
}

#register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    width: 500px;
    border-radius: 10px;
    padding: 30px 20px; 
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
    width: 500px;
    border-radius: 10px;
    padding: 30px 20px; 
    transition: all 0.3s ease-in-out;
}

.input-group {
    height: 50px;
}

.form-control {
    width: 390px;
}

#create-new-account-btn, #login-btn {
    width: 440px;
    background-color: #90c67c;
    border-radius: 50px; 
    border-color: #90c67c;
}

#login-error-messages {
    color: red;
}

header {
    margin: 0;
    padding: 0;
  }

h1 {
    font-family: "Oleo Script", system-ui;
    font-size: 20px;
}